<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Document</title>

</head>
<body>
    <div class="header">Header to repeat in each page</div>
    <div class="container">
        <div class="orders">
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>ISIN</th>
                        <th>PRODUCT</th>
                        <th>Volume</th>
                        <th>Shares</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BUY</td>
                        <td>US0378331005</td>
                        <td>APPLE INC.</td>
                        <td></td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>SELL</td>
                        <td>US9843321061</td>
                        <td>YAHOO INC.</td>
                        <td>0</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="disclaimers">
            <p>Vestibulum et cursus nunc. Morbi eget sodales diam. Ut non viverra odio. Cras sem libero, auctor ac erat id, fringilla congue magna. Etiam consectetur volutpat urna in scelerisque. Nulla imperdiet velit non ipsum commodo, aliquet ultrices quam aliquet. In non ullamcorper velit. Ut iaculis pharetra viverra. Mauris placerat est sed dignissim viverra. Phasellus sit amet vulputate erat.
            </p>
        </div>
    </div>
    <div class="footer">Footer to repeat on each page</div>
</body>
</html>